.left{
    height: 70vh;
    width: 50vw;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}
.right img{
    border-radius: 56% 8% 60% 21% / 7% 67% 12% 37% ;
    /* border-radius: 47% 44% 26% 0% / 17% 47% 12% 37%  ; */
}